<!DOCTYPE html>
 <html>
  <head> 
    <title>Creating a Pirate</title>
  </head>
  
  <body>
    <h1>Describe this pirate</h1>

      <form action= "/pirates" method= "post">
       <label> Pirate:</label> 
         <input id="pirate_name" type="text" name="pirate[name]"> 
       <label> Weight:</label>
         <input id="pirate_weight" type="integer" name="pirate[weight]">
       <label>  Height:</label>
         <input id="pirate_height" type="integer" name="pirate[height]">
        
      <label> Ship Name:</label>
         <input id="ship_name_1" type="text" name="pirate[ships][][name]" >
      <label>  Ship Type:</label>
         <input id="ship_type_1" type="text" name="pirate[ships][][type]" >
      <label> Ship Booty:</label>
         <input id="ship_booty_1" type="text" name="pirate[ships][][booty]" >
         
      <label> Ship Name:</label>
         <input id="ship_name_2" type="text" name="pirate[ships][][name]" >
      <label>  Ship Type:</label>
         <input id="ship_type_2" type="text" name="pirate[ships][][type]" >
      <label> Ship Booty:</label>
         <input id="ship_booty_2" type="text" name="pirate[ships][][booty]" >
        
        
          <input type="submit" id="Submit">
      </form>
  </body>
</html>

