<!DOCTYPE html>
 <html>
  <head> 
    <title>Creating a Pirate</title>
  </head>
  
  <body>
    <h1>Describe this pirate</h1>

      <form action= "/pirates" method= "post">
       <label> for="name"> Pirate:</label> 
         <input id="pirate_name" type="text" name="pirate[name]"> 
       <label> for="weight"> Weight:</label>
         <input id="pirate_weight" type="integer" name="pirate[weight]">
       <label> for="height"> Height:</label>
         <input id="pirate_height" type="integer" name="pirate[height]">
        
      <label> for= "ship_name_1">Ship Name:</label>
         <input id="ship_name_1" type="text" name="pirate[ships][][name]" >
      <label> for="ship_type"> Ship Type:</label>
         <input id="ship_type_1" type="text" name="pirate[ships][][type]" >
      <label> for"ship_booy"> Ship Booty:</label>
         <input id="ship_booty_1" type="text" name="pirate[ships][][booty]" >
         
      <label> for="ship_name_2" Ship Name:</label>
         <input id="ship_name_2" type="text" name="pirate[ships][][name]" >
      <label> for="ship_type_2> Ship Type:</label>
         <input id="ship_type_2" type="text" name="pirate[ships][][type]" >
      <label> for="ship_booty_2" Ship Booty:</label>
         <input id="ship_booty_2" type="text" name="pirate[ships][][booty]" >
        
         <label> for="submit"> Submit:</label>
          <input type="submit" id="Submit">
      </form>
  </body>
</html>

